.signin {
  padding: 50px;
  margin: 100px 0;
}
.ant-card {
  background: none;
}

.ant-card-bordered {
  border: none;
}

.ant-btn {
  width: 100%;
}
.ant-card-head-title {
  font-size: 30px;
  text-align: center;
}
